body{
    margin: 0;
padding: 0;
background: #ccc;

}



p{
font-size: 50px;
text-align: center;
}
.border{
width: 1180px;
height: 100px;
background-color: #C0C0C0;
color: #000000;
font-family: verdana;
padding-left: 25px;
margin-left:30px;

}
.border1{
height: 180px;
width: 1180px;
background-color: #E5E4E2;
color: #000000;
font-family: verdana;
padding-left: 30px;
margin-left:30px;
}


a:link{
color: #fff;
text-decoration: none;
}

