body{
	margin: 0;
	padding: 0;
	background: #ccc;
	
}

#sp{
width: 690px;
height: 550px;
border: 1px solid black;
float: right;
}
img{
float: left;
}
.container::after {
	content: "";
	display: table;
	clear: both;
  }
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 50px;
   text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
input , textarea{
border: 2px solid #000;
border-radius: 6px;
box-sizing: border-box;
}
.body p{
font-size:45px;
}
.border{
width: 1216px;
height: 30px;
color: white;
background-color: #d1e0e0;
padding: 2px;
}


