body{
	margin: 0;
	padding: 0;
	background: #ccc;
	
    overflow-y: auto;
    	
}


logo{
padding:100px;
font-size:50px;
font-family:Tahoma;
color:black;
}

body{
background-color:#ccc;
}

.copy{
justify-content:space-between;
font-family: Tahoma;
text-align:center;
}

.links{
justify-content:space-between;
font-family: Tahoma;
text-align:center;
}

button{
font-family:Tahoma;
width:150px;
padding:9px ;
background:transparent;
border-radius:10px;
color:black;
text-align:center;
}

.services{
text-align:center;
padding:10px;
}


button::hover{
transition:0.5s;
}

h1{
text-align:center;
font-size:50px;
font-family:Tahoma;
color:black;
}

.slideshow-container {
 text-align:center;
  position: relative;
  margin: auto;
  border-radius:30px;
  padding:9px;
 
}

.slideshow-container img{
    width:700px;
    height:500px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
   position: relative;
  bottom: 20px;
  left: 16px;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



  @media(max-width:576px){
    .slideshow-container img{
        width:350px;
        height:300px;
    }
  }

