body{
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: Arial;	
}
.navbar{
	z-index: 999; /* Ensure the navigation bar is above other elements */

  height:60px;
  max-width:1200px;
  margin:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  z-index: 999; /* Ensure the navigation bar is above other elements */
  transition: background-color 2s ease;
  width:90%;
  

  background-color: #ccc;
}
.navbar ul{
	list-style: none;
}

.navbar li{
	display: inline-block;
  
}

.navbar a{
	text-decoration: none;
	color:#fff;
	width:100px;
	display:block;
	padding:25px 20px;
	font-size:15px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.navbar .logIn{
	text-align: right;
	
	font-size:18px;
	text-transform: capitalize;
	text-decoration: underline;
	
}

.navbar img{
	width:5%;
	height: 100%;

	border-radius:50%;
	
	margin-top:5px;
}

.navbar .mobile{
 background-color: rgba(225,225,255,0.1);
 backdrop-filter: blur(1px);
 height: 50px;
 width:100%;
 margin-top: -10px;

 background-color: #ccc;
 display: none;
}

.navbar .toggle_btn{
  color:#fff;
  font-size:1.5rem;
  cursor:pointer;
  display:none;
  position:absolute;
  right:1rem;
 text-align: right;
  top:10px;
}

.navbar .name{
  color:#fff;
  font-size:1.5rem;
  cursor:pointer;
  display:none;
  padding-top: 10px;
  text-align: center;
}

.dropdown_menu{
  position:absolute;
  right:3rem;
  top:70px;
  height: 0;
  width:300px;
  background: rgba(225,225,255,0.1);
  backdrop-filter: blur(15px);
  border-radius:10px;
  overflow:hidden;
display:none;
transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 300px;
}

.dropdown_menu li{
  padding:0.1rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position:sticky;
  top: 0;
  width: 90%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/*end of navbar*/


logo{
padding:100px;
font-size:50px;
font-family:Tahoma;
color:black;
}

body{
background-color:#ccc;
}

.copy{
justify-content:space-between;
font-family: Tahoma;
text-align:center;
}

.links{
justify-content:space-between;
font-family: Tahoma;
text-align:center;
}

button{
font-family:Tahoma;
width:150px;
padding:9px ;
background:transparent;
border-radius:10px;
color:black;
text-align:center;
}

.services{
text-align:center;
padding:10px;
}


button::hover{
transition:0.5s;
}

h1{
text-align:center;
font-size:50px;
font-family:Tahoma;
color:black;
}

.slideshow-container {
 text-align:center;
  position: relative;
  margin: auto;
  border-radius:30px;
  padding:9px;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
   position: relative;
  bottom: 20px;
  left: 16px;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media(max-width:999px){
    .navbar{
      margin-left: 0;
      background: none;
      margin-top:0px;
      width: 100%;
    }
    .navbar ul{
      display:none;
    }
   
    .navbar .left{
      display:none;
    }
  
    .navbar .login{
      display:none;
    }
  
    .navbar .toggle_btn{
      display:block;
    }
  
    .dropdown_menu{
      display:block;
    }
  
    .navbar .name{
      display:block;
    }
  
    .navbar .mobile{
      display:block;
    }

    .sticky {
  position:sticky;
  top: 0;
  width: 100%;
}
  }

