.navbar{
	z-index: 999; /* Ensure the navigation bar is above other elements */
  height:66px;
  margin:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999; /* Ensure the navigation bar is above other elements */
  transition: background-color 2s ease;
  width:100%;
  background-color: #ccc;
}
.navbar ul{
	list-style: none;
}

.navbar li{
	display: inline-block;
  
}

.navbar a{
	text-decoration: none;
	color:#fff;
	width:100px;
	display:block;
	padding:25px 20px;
	font-size:20px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.navbar a:hover{
  
    color: black;
    font-size: 25px;
  }

.navbar .logIn{
	text-align: right;
	margin-right: 60px;
	font-size:22px;
	text-transform: capitalize;
	text-decoration: underline;
	
}

.navbar img{
	width:5%;
	height: 100%;

	border-radius:50%;
	margin-left: 25px;
	margin-top:5px;
}

.navbar .mobile{
 background-color: rgba(225,225,255,0.1);
 backdrop-filter: blur(1px);
 height: 56px;
 width:100%;
 margin-top: -10px;

 background-color: #ccc;
 display: none;
}

.navbar .toggle_btn{
  color:#fff;
  font-size:1.5rem;
  cursor:pointer;
  display:none;
  position:absolute;
  right:1rem;
 text-align: right;
  top:10px;
}

.navbar .image{
  color:#fff;
  font-size:1.5rem;
  cursor:pointer;
  display:none;
  
  position:absolute;
  left:1rem;
  
}

.navbar .image img{
 width: 18%;
 height: 0%;

}

.navbar .name{
     color:#fff;
  font-size:1.5rem;
  cursor:pointer;
  display:none;
  padding-top: 10px;
  
  text-align: center;

}

.navbar .name div{
    text-decoration: underline;
}

.dropdown_menu{
    z-index: 999;
    position: fixed;
    left: 0;
  top:50px;
  height: 0;
  width:100%;
  
  background-color: #ccc;
  
  overflow:hidden;
display:none;
transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.dropdown_menu.open{
  height: 100vh;
  overflow-y: auto;
}

.dropdown_menu li{
  padding:0.1rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position:sticky;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/*end of navbar*/

@media(max-width:999px){
    .navbar{
      margin-left: 0;
      background: none;
      margin-top:0px;
      width: 100%;
    }
    .navbar ul{
      display:none;
    }
   
    .navbar .left{
      display:none;
    }
  
    .navbar .login{
      display:none;
    }
  
    .navbar .toggle_btn{
      display:block;
    }
  
    .dropdown_menu{
      display:block;
    }
  
    .navbar .image{
      display:block;
    }

    .navbar .name{
        display:block;
    }
  
    .navbar .mobile{
      display:block;
    }
    .navbar img{
     
        margin-left: 0px;
      }
    .sticky {
  position:sticky;
  top: 0;
  width: 100%;
}
  }

  @media(max-width:576px){
    .slideshow-container img{
        width:350px;
        height:300px;
    }
  }

