body{
	margin: 0;
	padding: 0;
	background: #ccc;
	
}


h1{
	
	text-align:center;
}

.container{
	width: 80%;
	height:auto;
	margin:20px auto;
	margin-left:220px;
}



.container .image{
	position: relative;
	width:260px;
	height:auto;
	background:black;
	float:left;
	margin:15px;
	border-radius:10px;
		box-sizing:border-box;
	overflow:hidden;
  background-size: cover; 
  background-position: center;
   display: flex; 
  align-items: left; 
  justify-content: left;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); 
  
}

.container .image img{
	width:100%;
	height:330px;
	 object-fit: cover;
}




.container .image .image-text{
	font-size: 28px;
  color: white;
  padding: 10px;
  margin-top:260px;
  font-weight: bold;
  
}

.container .image .image-texts{
	font-size: 19px;
}

/* Bottom left text */
.container .image .bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 25px;
  color: white;
  padding: 10px;
  margin-top:260px;
  font-weight: bold;
}

.button{
	border-radius:20px;
	width:180px;
	height:40px;
	margin-left:600px;
	border:none;
	color:black;
	align-items:center;
}

