body{
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: Arial;
	
}


.navbar{
	z-index: 999; /* Ensure the navigation bar is above other elements */
}
.navbar ul{
	list-style: none;
	padding: 0;
	background: #ccc;
	margin:0; 
	text-align:center;
	 z-index: 999; /* Ensure the navigation bar is above other elements */
}

.navbar .logIn{
	text-align: right;
	margin-left: 130%;
	font-size:18px;
	text-transform: capitalize;
	text-decoration: underline;
	
}

.navbar img{
	width:5%;
	height: 10%;
	float:left;
	border-radius:50%;
	margin-left:4%;
	margin-top:5px;
}
.navbar li{
	display: inline-block;
}

.navbar a{
	text-decoration: none;
	color:#fff;
	width:100px;
	display:block;
	padding:25px 20px;
	font-size:15px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position:sticky;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/*end of navbar*/


.box{
	width:600px;
	height: auto;
	background:#010101;
	border-radius:20px;
	margin-left:360px;
	box-sizing:border-box;
	overflow:hidden;
}

.box .form{
	justify-content: center;
    display: flex;
	margin:80px;

}

.box .form label{
	color:#fff;
}

.box .form input{
	border-radius:5px;
	width:400px;
	height:40px;
}

.box .form .button{
	border-radius:20px;
	width:180px;
	height:40px;
	margin-left:100px;
	background:#ccc;
	color:#fff;
}

.error{
	  color:red;
	 font-size:15px;
  }

  .box .form p{
	color:#fff;
	text-align: center;
	font-size:22px;
  }